@import '../_sass/bootstrap';


body { font-size: 18px; line-height: 150%; font-family: 'Roboto Slab', serif; font-weight: 400; color: #000; background: #FFF;}
a {color:#FD7E00;}
a:hover {color:#777;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
h1 {font-size: 45px;}
h2 {font-size: 38px;}
h3 {font-size: 25px; font-weight: bold;}
h4 {font-size: 17px; font-weight: bold;}
p{margin-bottom: 15px; line-height: 130%;}
.center {text-align: center; }
ul, ol {padding-left: 17px;}

.navbar-default {border:0; height: 65px; margin-bottom: 0; background: rgb(0,90,116); background: rgba(0,90,116,0.85)}
.navbar-brand { padding: 0; }
.navbar>.container .navbar-brand {margin-left: 0;}
.navbar-brand img { width: 98px; height: 98px; padding:26px 13px; display: inline-block; background: #005A74;}
.navbar-nav>li>a {font-size: 18px; font-weight: 700; padding: 5px 10px; margin-top: 16px; color:#FFF; width: auto;}
.navbar-nav>li.cont>a {border: 2px solid #6DCECD; -webkit-border-radius: 17px; border-radius: 17px;}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li.cont>a:hover {color:#6dcecd; background: none;}	
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus {color:#FFF; }
.navbar-default .navbar-nav>li>a:hover {color:#6dcecd;}
.navbar-default .navbar-nav>li.cont>a {color:#FFA344;}
.navbar-default .navbar-collapse {border-color:transparent; -webkit-box-shadow: none; box-shadow: none;}
.navbar-default .navbar-toggle {border: none; } 
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {width: 30px; height: 6px; background: #FFF; }
.navbar-default .navbar-toggle:hover .icon-bar{background: #888}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {background: none;}
.navbar-right { margin-right: 0; }
.navbar-toggle { margin-top: 5px; margin-bottom: 6px;}
.top-space { margin-top: 73px;}
.closed {visibility: hidden;}

.slbg {position: absolute;}

#video-bg.on {visibility: visible}
#imgbg,
#video-bg video {position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; transform: translateX(-50%) translateY(-50%); transition: 1s opacity; }
#imgbg {display: none; background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#video-bg {width: 100%; height: 670px; overflow: hidden; position: relative;}
#video-bg .container {position: relative; text-align: center; color:#FFF;}
#video-bg .box {margin-top: 160px;}
#video-bg img.logo {width: 226px; margin: 0 0 38px}
#video-bg h3 {font-size: 45px; margin: 0 0 23px; text-shadow: 0 2px 2px #000000;}
#video-bg p {font-size: 18px; font-weight: 700; margin-bottom: 5px;}

a.button {display: block; font-size: 21px; font-weight: 700; color: #005A74; line-height: 37px; height: 37px; padding-left: 23px; background: url('../images/button-bg.png') left top no-repeat; opacity: 1; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
a.button.white {color: #FFF;}
a.button>p {height: 37px; line-height: 37px; margin-bottom: 0; padding-right: 23px; background: url('../images/button-bg.png') right -37px no-repeat; float: left; }
a.button:hover {opacity: 0.8}

#blog-list {width: 100%;}
#blog-list .container {margin-top: -160px; position: relative; background: transparent;}
#blog-list .post {width: 25%; float: left;}
#blog-list .post.down {margin-top: 60px;}
#blog-list .post .bg {width: 100%; height: 235px; position: relative; background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
#blog-list .post .bg .desc {position: absolute; left: 0; bottom: 0; width: 100%; background: rgb(0,90,116); background: rgba(0,90,116,0.8); padding: 20px 18px 15px; color:#FFF;}
#blog-list .post .bg .desc h2{font-size: 18px; margin-top: 0;}
#blog-list .post a:hover .bg .desc h2 {color:#FF8201;}
#blog-list .post .bg .desc p {font-size: 12px; margin-bottom: 0;}
#blog-list .post .footer {background: #DDF4F3; padding: 13px 18px}
#blog-list .post .footer .cat {margin-bottom: 5px; color: #005A74;}
#blog-list .post .footer .cat a {font-size: 14px; color: #005A74; text-transform: uppercase;}
#blog-list .post .footer .tags {color: #FF8200;}
#blog-list .post .footer .tags a {font-size: 18px; font-weight: 700; color: #FF8200;}
#blog-list .bottom {width: 470px; height: 60px; background: #FFF; position: absolute; bottom: -60px; z-index: 10; left: 0; right: 0; margin-left: auto; margin-right: auto;}
#blog-list .bottom {text-align: center;}
#blog-list a.button {position: absolute; right:45px; top: -20px;}

#blog .category {margin-top: 70px;}
#blog .category:first-child{margin-top: 60px;}
#blog .cat-title {font-size: 21px; line-height: 50px; color:#FFF; background: #004053; padding: 0 35px; -webkit-border-radius: 24px; border-radius: 25px; float: left;}
#blog .cat-title a, .cat-title strong {color:#6FCCCB; text-transform: uppercase;}
#blog .category section {margin-top: 38px; position: relative; min-height: 120px}
#blog section .tb {width: 130px; position: absolute; top: 0; left: 15px;}
#blog section .tb img {width: 120px; display: block; height: auto;}
#blog section .cont {margin-left: 130px;}
#blog section .cont .date {font-size: 12px; line-height: 120%; color: #3E798E; margin-bottom: 5px;}
#blog section .cont h2 {margin: 0 0 10px;padding: 0; font-size: 20px;}
#blog section .cont h2 a, 
#blog section .cont p {color: #104154;}
#blog section .cont p {font-size: 20px; margin-bottom: 0;}
#blog section .cont a.read-more {font-size: 18px; color: #FC8519; font-weight: 700;}

#single article ul.cats {list-style: none; margin-bottom: 35px;}
#single article ul.cats li {font-size: 14px; text-transform: uppercase; float: left; margin-left: 12px;}
#single article ul.cats li:first-child{margin-left: 0;}
#single article ul.cats li a {color:#6DCECD; padding: 5px 10px; background: #004053; -webkit-border-radius: 14px; border-radius: 14px;}
#single article ul.cats li a:hover {color:#FF8200; text-decoration: none;}

article img, img.responsive{ max-width:100%; height: auto; }
article img {margin: 10px 0;}
img.fw {width: 100%;}
img.alignright {float:right; margin: 0 0 20px 10px;}
img.alignleft {float:left; margin: 0 10px 20px 0;}
.img-gb {background-repeat:no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover; padding: 0}

table th, table td {padding: 0 10px 10px 0; vertical-align: top; text-align: left;}

#fp-con0 {background: #00425D; padding: 120px 0 150px;}
#fp-con3 {background: #FFF; padding: 60px 0 70px;}
#fp-con0 h2,
#fp-con3 h2 {font-size: 45px; color:#FFF; line-height: 110%; text-align: center; margin: 0;}
#fp-con3 h2 {color:#00425D;}

.inner {padding: 23px 18px; }
.col {width: 50%; float: left;}

#fp-con1 {background: #307485;}
.equipment {margin-top: 140px;}
#fp-con1 .wrapper,
.equipment .wrapper {margin-top: -80px; float: left;}
#fp-con1 .col .l1,
.equipment .col .l1 {background: #E6FFFE; height: 80px;}
#fp-con1 .col .l1 h3, 
.equipment .col .l1 h3 {font-weight: 400; font-size: 30px; color:#005A74; margin: 0;}
.equipment .col .l1 h3 {font-weight: 700;}
#fp-con1 .col .l2,
.equipment .col .l2{color:#FFF;}
.equipment .col .l2 a {color: #FC8519;}
#fp-con1 .col .l2 h3, 
.equipment .col .l2 h3 {font-size: 20px;}
#fp-con2 h3 {font-size: 30px; margin-top: 0;}
#fp-con2 .col.col1 {background: #E6FFFE; color:#307485;}
#fp-con2 .col.col1 h3 {color: #00425D;}
#fp-con2 .col.col2 {background: #FF8200; color:#FFF;}
#fp-con1, #fp-con2, .equipment {font-size: 15px;}

#supporters ul {list-style: none; padding: 0;}
#supporters ul li {width: 25%; float: left;}
#supporters ul li:nth-child(2n) {margin-top: 50px;}
#supporters ul li img {max-width:100%; height: auto; width: 100%;}

#top-image {width: 100%; height: 360px;position: relative; margin-bottom: 20px;}
#top-image .bg {position: absolute; bottom: 0; background: rgb(0,64,83); background: rgba(0,64,83,0.57); padding-top: 30px; padding-bottom: 30px; width: 100%;}
#top-image .bg h1 {font-size: 45px; color: #FFF; text-shadow: 0 2px 2px #000000; text-align: center; margin: 0;}

#single article ul.cats {list-style: none; margin-bottom: 35px;}
#single article ul.cats li {font-size: 14px; text-transform: uppercase; float: left; margin-left: 12px;}
#single article ul.cats li:first-child{margin-left: 0;}
#single article ul.cats li a {color:#6DCECD; padding: 5px 10px; background: #004053; -webkit-border-radius: 14px; border-radius: 14px;}
#single article ul.cats li a:hover {color:#FF8200; text-decoration: none;}
#single article .intro {font-size: 23px; color: #005A74;}
#single blockquote {font-size: 24px; font-weight: 700; color:#6CD1D3; padding: 25px 0; border: none;}

.author {max-width: 300px; margin-top: 70px;}
.author>div {float: left;}
.author p {margin-bottom: 0;}
.author .col1 {width: 33%; padding-right: 10px;}
.author .col2 {width: 66%; font-size: 14px;}
.author .col2 .name {color:#FF8200;}
.author .col2 .desc {color:#005A74;}
.author .col2 .date {margin-top: 10px;}
.author .col2 .date,
.author .col2 .cats, .author .col2 .cats a {color:#6CCDCC; font-weight: 700;}

footer {background: #00425D; margin-top: 100px; padding: 60px 0 50px;} 
footer ul { padding: 0;list-style: none;text-align: center; }
footer ul li {display: inline-block; }
footer ul.social {margin-bottom: 40px;}
footer ul.social li {margin-left: 30px;}
footer ul.social li img {width: 48px; height: 48px;}
footer ul.menu {margin-bottom: 30px;}
footer ul.menu li {margin-left: 15px;}
footer ul.menu li a {font-size: 16px; color: #FFF; font-weight: 700;}
footer ul.menu li a:hover {color:#BBB; text-decoration: none;}
footer img.logo {width: 100px; display: block; margin: 0 auto 40px;}
footer ul.contacts li {font-size: 16px; color:#FFF; margin-left: 30px;}
footer ul.contacts li a {color:#FF8200;}
footer ul li:first-child {margin: 0;}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after,.container_12:before,.container_12:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.clearfix:after,.container_12:after{clear:both}.clearfix,.container_12{zoom:1}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
    #video-bg {visibility: hidden;}
}

@media (max-width: 1199px){

}

@media (max-width: 991px) {
    .navbar-header {float: none; }
    .navbar-left,.navbar-right {float: none !important; }
    .navbar-toggle {display: block; }
    .navbar-collapse {border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .navbar-fixed-top {top: 0; border-width: 0 0 1px; }
    .navbar-collapse.collapse {display: none!important; }
    .navbar-nav {float: none!important; margin-top: 7.5px; background: rgb(0,90,116); background: rgba(0,90,116,0.85); margin: 0; padding: 15px 0}
	.navbar-nav>li {float: none; }
    .collapse.in{display:block !important; }
	.navbar-nav>li>a {padding: 10px 15px; margin: 0; width: auto; min-height: auto;}
	.navbar-nav>li.cont>a {border: none;}
	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus {color:#FFF;}
	.navbar-default .navbar-nav>li>a:hover {color:#6dcecd;}
	.navbar-default {max-height: 56px}
	.navbar-default .navbar-nav>.active>a, 
	.navbar-default .navbar-nav>.active>a:focus, 
	.navbar-default .navbar-nav>.active>a:hover {background: none; color:#6dcecd;}
	.navbar>.container .navbar-brand { margin-left: 15px;}
	.navbar-brand img { width: 82px; height: 55px; padding:7px 10px 8px;}
	.top-space{margin-top: 56px;}

	#blog-list .container {margin-top:-30px;}
	#blog-list .post {width: 50%;}
	#blog-list .post.down {margin-top: 0;}
	#blog-list .pair-seperator{content: ''; display: block;clear: both; margin-bottom: 15px;}
	#blog-list .pair-seperator.last {margin-bottom: 0;}
	#blog-list a.button { position: relative; display: table; margin: 10px auto 0; right: auto; top:auto;}
	#video-bg {height: 500px;}
	#video-bg .box {margin-top: 120px;}
	#video-bg img.logo {width: 200px; margin-bottom: 30px}

	#single article ul.cats {padding-left: 0; margin-bottom: 25px;}
	#single blockquote {padding: 20px 0;}
	.author {margin-top: 10px;}
}

@media (min-width: 768px){
	.equipment.picture-left .col {left: 50%; position: relative;}
	.equipment.picture-left .col.img-gb {left: -50%; }
}

@media (max-width: 767px){
	body { font-size: 17px;}
	.navbar-collapse {padding-left: 0; padding-right: 0;}

	#video-bg {height: 400px;}
	#video-bg .box {margin-top: 70px;}
	#video-bg img.logo {width: 150px; margin-bottom: 30px}
	#top-image .bg h1,
	#video-bg h3 {font-size: 38px; }
	#video-bg h3{ margin: 0 0 23px;}
	#top-image {height: 300px; }
	#blog-list .container {margin-top:10px;}
	#blog-list .bottom {width: 100%; height: 60px; background: #FFF; position: relative; left: auto; right: auto; bottom: auto;}
	.col {width: 100%;}
	#fp-con0 h2,
	#fp-con3 h2 {font-size: 40px;}
	#fp-con0, #fp-con3 {padding: 60px 0;}
	.equipment {margin-top: 40px;}
	#fp-con1 .wrapper,
	.equipment .wrapper {margin-top: 0;}
	#fp-con1 .col .l1,
	.equipment .col .l1 {height: auto;}
	#fp-con1 .col .l1 h3,
	.equipment .col .l1 h3 {font-size: 27px;}
	#fp-con1 .full-h,
	.equipment .full-h {max-height: 300px;}
	#fp-con0 .container,
	#fp-con1 .container,
	#fp-con2 .container,
	.equipment .container {padding-left: 0; padding-right: 0;}
	#supporters ul li {width: 50%;}
	#supporters ul li:nth-child(2n) {margin-top:0;}
	#single article .intro {font-size: 20px;}
	#single blockquote {font-size: 21px;}
	#blog .category {margin-top: 55px;}
	#blog .category:first-child{margin-top: 45px;}
	#blog .cat-title {font-size: 19px; line-height: 46px; padding: 0 30px; -webkit-border-radius: 23px; border-radius: 23px;}
	#blog .category section {margin-top: 30px;}
	#blog section .cont h2,
	#blog section .cont p {font-size: 19px;}
	#blog section .cont a.read-more {font-size: 17px;}
	footer {margin-top: 70px; padding: 50px 0 40px;} 
	footer ul.social li {margin-left: 15px;}
	footer ul li:first-child {margin: 0;}
}

@media (max-width: 679px){

}

@media (max-width: 480px){
	body { font-size: 16px;}
	#video-bg {height: 300px;}
	#video-bg .box {margin-top: 0;}
	#video-bg img.logo {display: none;}
	#top-image .bg h1,
	#video-bg h3 {font-size: 30px;} 
	#video-bg h3 { margin: 80px 0 23px;}
	#video-bg p {font-size: 17px; line-height: 120%;}
	#top-image {height: 250px; }
	#top-image .bg {padding: 10px 0}
	#blog-list .post {width: 100%; margin-bottom: 20px;}
	#blog-list .pair-seperator {margin-bottom: 0;}
	#fp-con0, #fp-con3 {padding: 40px 0;}
	#fp-con0 h2,
	#fp-con3 h2 {font-size: 35px;}
	#fp-con1 .full-h,
	.equipment .full-h {max-height: 200px;}
	#fp-con1 .col .l1 h3, 
	.equipment .col .l1 h3 {font-size: 24px;}
	#fp-con2 h3 {font-size: 25px;}
	#supporters ul li {width: 100%;}
	#single article ul.cats li {font-size: 13px;}
	#single blockquote { padding: 15px 0;}
	#blog .category {margin-top: 35px;}
	#blog .category:first-child{margin-top: 20px;}
	#blog .cat-title {font-size: 18px; line-height: 40px; padding: 0 25px; -webkit-border-radius: 20px; border-radius: 20px;}
	#blog section .tb {width: 90px;}
	#blog section .tb img {width: 80px;}
	#blog .category section {min-height: 80px; margin-top: 30px;}
	#blog section .cont {margin-left: 90px;}
	#blog section .cont h2,
	#blog section .cont p {font-size: 18px;}
	#blog section .cont a.read-more {font-size: 16px;}
	footer {margin-top: 30px; padding: 30px 0 20px;} 	
	footer ul.social li img {width: 32px; height: 32px;}
	footer ul.social {margin-bottom: 35px;}
	footer ul.menu {display: none;}
	footer ul.contacts li {margin-left: 0;}
	footer img.logo {width: 80px; margin: 0 auto 25px;}
	img.alignright, img.alignleft {float:none; display: block; margin: 10px auto;}
}
